

.idea/inspectionProfiles/
.idea/modules.xml
.idea/movieflix.iml
.idea/workspace.xml

**/.idea
**/.idea/vcs.xml

**/node_modules
**/bower_components
**/.tmp
**/.dist
**/.sass-cache

**/.settings
**/.metadata
**/Servers
**/RemoteSystemsTempFiles

**/target/*
